<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>search-game</title>
</head  >
<body bgcolor ="ffcccccf">
<center><pre>                                                        </pre>
<pre>                                                        </pre>
<pre>                                                        </pre>
<pre>                                                        </pre>
<form action = "/search2">

      <input type  = "text"  name="num1"  required="required"/>
		<input type  = "submit" value = "search" />
	</form>	</center>

</body>
</html>